{{!
    @template guests_not_allowed
}}
<div class="jazzquiz-box">
    <p>{{# str }} guest_login, jazzquiz {{/ str }}</p>
    <p>{{# str }} no_guests, jazzquiz {{/ str }}</p>
    <p>{{# str }} ask_teacher, jazzquiz {{/ str }}</p>
</div>
